#root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18pt;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

.flex-column {
  display:flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

#top-bar {
  text-align: right;
  background-color: greenyellow;
}

#main-header {
  display: fixed;
  background-color: green;
  justify-content: space-between;
  padding: 2rem
}

nav > ul {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

nav > ul > li {
  padding: 0 1rem;
}

nav > ul > li > a {
  text-decoration: none;
  color: white
}

footer {
  background-color: green;
  margin-top: auto;
  padding: 2rem;
  text-align: center;
  color: white;
  font-weight: bolder;
}

#logo {
  height: 10rem;
}

#page-logo {
  align-items: center;
}